button:focus {
  outline: 0;
}

/* START coffee pot */
.steam-container {
  width: 18px;
  height: 30px;
  margin-left: 5px;
  -webkit-transform: scale(60%);
          transform: scale(60%);
}

.coffee-container {
  width: 40px;
  height: 40px;
  margin-bottom: 28px;
  margin-right: 15px;
  position: relative;
  z-index: 10;
}

.squiggle-container {
  width: 5px;
  height: 30px;
  display: inline-block;
}

.squiggle-container-1 {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.squiggle-container-1 .squiggle {
  -webkit-animation: move-and-fade 5s linear infinite;
          animation: move-and-fade 5s linear infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  width: 4px;
}

@-webkit-keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
}

.squiggle-container-2 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.squiggle-container-2 .squiggle {
  -webkit-animation: move-and-fade 5s linear infinite;
          animation: move-and-fade 5s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 4px;
}

@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
}

.squiggle-container-3 {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.squiggle-container-3 .squiggle {
  -webkit-animation: move-and-fade 5s linear infinite;
          animation: move-and-fade 5s linear infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  width: 4px;
}

@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0;
  }
}

.squiggle {
  stroke-dasharray: 100;
}

.squiggle path {
  stroke: #5D5D5D;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* END coffee pot */
/*# sourceMappingURL=App.css.map */