@charset "UTF-8";
em {
  background: rgba(116, 255, 209, 0.66);
  font-style: normal;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#8e43e7), to(#00aeff));
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel__filters {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-panel__results {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.ais-Pagination-item {
  padding: 1rem 5px;
  font-size: 1rem;
}

.ais-Pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.ais-Hits-list {
  width: 75%;
  margin: 0 auto;
}

.ais-Hits-item {
  margin: 2rem 0;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.ais-Hits-item :hover {
  background-color: #f2f9fd;
}

.ais-RefinementList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 0 auto -20px auto;
}

.ais-RefinementList-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 1rem;
}

.ais-RefinementList-item {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  background-color: rgba(190, 227, 248, 0.8);
  padding: 2px 10px;
  font-size: 0.85rem;
  border-radius: 999px;
  cursor: pointer;
}

.ais-RefinementList-label {
  cursor: pointer;
}

.ais-RefinementList-item--selected {
  font-weight: 600;
}

button:focus {
  outline: 0;
}

.ais-RefinementList-showMore {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  margin-top: 10px;
}

.ais-RefinementList-checkbox {
  display: none;
}

.ais-CurrentRefinements-list {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ais-CurrentRefinements-label {
  text-transform: capitalize;
}

.ais-CurrentRefinements-delete {
  margin-left: 3px;
  font-size: 0.75rem;
}

.ais-CurrentRefinements-category {
  margin-right: 1rem;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-form {
  width: 75%;
  margin: 0 auto;
}

.ais-SearchBox-form :focus {
  border: none;
}

.ais-SearchBox-input {
  height: 3rem;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid lightgray;
  --bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

[type="search"] {
  -webkit-appearance: none;
}

input::-webkit-input-placeholder {
  color: #505050;
}

input:-ms-input-placeholder {
  color: #505050;
}

input::-ms-input-placeholder {
  color: #505050;
}

input::placeholder {
  color: #505050;
}

/* START coffee pot */
.steam-container {
  width: 18px;
  height: 30px;
  margin-left: 5px;
  -webkit-transform: scale(60%);
          transform: scale(60%);
}

.coffee-container {
  width: 40px;
  height: 40px;
  margin-bottom: 28px;
  margin-right: 15px;
  position: relative;
  z-index: 10;
}

.squiggle-container {
  width: 5px;
  height: 30px;
  display: inline-block;
}

.squiggle-container-1 {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.squiggle-container-1 .squiggle {
  -webkit-animation: move-and-fade 5s linear infinite;
          animation: move-and-fade 5s linear infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  width: 4px;
}

@-webkit-keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
}

.squiggle-container-2 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.squiggle-container-2 .squiggle {
  -webkit-animation: move-and-fade 5s linear infinite;
          animation: move-and-fade 5s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 4px;
}

@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
}

.squiggle-container-3 {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.squiggle-container-3 .squiggle {
  -webkit-animation: move-and-fade 5s linear infinite;
          animation: move-and-fade 5s linear infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  width: 4px;
}

@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0;
  }
}

.squiggle {
  stroke-dasharray: 100;
}

.squiggle path {
  stroke: #5D5D5D;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* END coffee pot */
/* START progress bar */
.flexer, .progress-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-flexer {
  display: block;
}

.no-flexer-element {
  -ms-flex: 0;
  -moz-flex: 0;
  -webkit-box-flex: 0;
          flex: 0;
}

.flexer-element, .progress-indicator > li {
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.progress-indicator {
  margin: 0;
  padding: 0;
  font-size: 60%;
  margin-bottom: 1em;
}

.progress-indicator > li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #bbb;
  display: block;
}

.progress-indicator > li:hover {
  color: #6f6f6f;
}

.progress-indicator > li .bubble {
  border-radius: 1000px;
  width: 7px;
  height: 7px;
  background-color: #bbb;
  display: block;
  margin: 0 auto 0.5em auto;
}

.progress-indicator > li .bubble:before,
.progress-indicator > li .bubble:after {
  display: block;
  position: absolute;
  top: 2.5px;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #bbb;
}

.progress-indicator > li .bubble:before {
  left: 0;
}

.progress-indicator > li .bubble:after {
  right: 0;
}

.progress-indicator > li:first-child .bubble:before,
.progress-indicator > li:first-child .bubble:after {
  width: 50%;
  margin-left: 50%;
}

.progress-indicator > li:last-child .bubble:before,
.progress-indicator > li:last-child .bubble:after {
  width: 50%;
  margin-right: 50%;
}

.progress-indicator > li.completed {
  color: #65d074;
}

.progress-indicator > li.completed .bubble {
  background-color: #65d074;
  color: #65d074;
}

.progress-indicator > li.completed .bubble:before, .progress-indicator > li.completed .bubble:after {
  background-color: #65d074;
}

.progress-indicator > li.active {
  color: #337AB7;
}

.progress-indicator > li.active .bubble {
  background-color: #337AB7;
  color: #337AB7;
}

.progress-indicator > li.active .bubble:before, .progress-indicator > li.active .bubble:after {
  background-color: #337AB7;
}

.progress-indicator > li a:hover .bubble {
  background-color: #5671d0;
  color: #5671d0;
}

.progress-indicator > li a:hover .bubble:before, .progress-indicator > li a:hover .bubble:after {
  background-color: #5671d0;
}

.progress-indicator > li.danger .bubble {
  background-color: #d3140f;
  color: #d3140f;
}

.progress-indicator > li.danger .bubble:before, .progress-indicator > li.danger .bubble:after {
  background-color: #d3140f;
}

.progress-indicator > li.warning .bubble {
  background-color: #edb10a;
  color: #edb10a;
}

.progress-indicator > li.warning .bubble:before, .progress-indicator > li.warning .bubble:after {
  background-color: #edb10a;
}

.progress-indicator > li.info .bubble {
  background-color: #5b32d6;
  color: #5b32d6;
}

.progress-indicator > li.info .bubble:before, .progress-indicator > li.info .bubble:after {
  background-color: #5b32d6;
}

@media handheld, screen and (max-width: 400px) {
  .progress-indicator {
    font-size: 60%;
  }
}
/*# sourceMappingURL=App.css.map */